<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <div class="oe_slogan oe_picture">
                <img src="icon.png" alt="" style="width: 96px;">
            </div>

            <h2 class="oe_slogan">clickPublish</h2>

            <p>clickPublish is a clickERP module to manage publication record of
                product articles registered on the clickERP system on third
                party websites.</p>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Configuration</h2>
        </div>

        <div class="oe_span12">
            <h3>New user groups</h3>

            <p>clickPublish creates two new groups, namely</p>

            <dl>
                <dt>Officer</dt>
                <dd>The Officer has the authority to manage the list article
                    publication and publication requests.</dd>

                <dt>Manager</dt>
                <dd>The Manager has all the authority of the Officer coupled
                    with module configuration authority.</dd>
            </dl>

            <p>So, don't forget to include the related user in the group.</p>


            <div class="oe_span6">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="screenshot-3.png" alt="" style="max-height: 50vh; max-width: 50vw;"/>
                </div>
            </div>

            <div class="oe_span6">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="screenshot-4.png" alt="" style="max-height: 50vh; max-width: 50vw;"/>
                </div>
            </div>
        </div>

        <div class="oe_span12">
            <h3>Unable to send log notes</h3>

            <p>The partner that is related to the user must already have
                an email address so that the user can create a log note.</p>

            <div class="oe_span6">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="screenshot-1.png" alt="" style="max-height: 50vh; max-width: 50vw;"/>
                </div>
            </div>

            <div class="oe_span6">
                <div class="oe_demo oe_picture oe_screenshot">
                    <img src="screenshot-2.png" alt="" style="max-height: 50vh; max-width: 50vw;"/>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <div class="oe_span12">
            <h2 class="oe_slogan">Credits</h2>

            <p>The development of this module is supported by <a href="https://jvm.co.id">
                CV Java Multi Mandiri</a> and carried out by <a href="https://clickoding.id">
                clickoding</a> as a business unit engaged in the software
                development industry.</p>
        </div>

        <div class="oe_span12">
            <h3>Contributors</h3>

            <ul>
                <li>Arsya F. Rahman, SMK Telkom Purwokerto</li>
                <li>Opi T. Fatmawati, SMK Negeri 1 Purwokerto</li>
                <li>Sri H. N. Ulfa &lt;<a href="mailto:sri.ulfa@jvm.co.id">sri.ulfa@jvm.co.id</a>&gt;,
                    CV Java Multi Mandiri</li>
                <li>Sunu Haeriadi &lt;<a href="mailto:sunu.haeriadi@jvm.co.id">sunu.haeriadi@jvm.co.id</a>&gt;,
                    CV Java Multi Mandiri</li>
            </ul>
        </div>

        <div class="oe_span12">
            <h3>Maintainer</h3>

            <p>This module is maintained by clickoding.</p>

            <p>clickoding is a software house that develops business solution
                applications for Indonesian business people.</p>

            <p>clickoding is proud to be part of JVM.</p>
        </div>
    </div>
</section>
